<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vanniktech.espresso.core.utils">

  <application tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".TextColorMatcherActivity"/>
    <activity android:name=".ProgressMatcherActivity"/>
    <activity android:name=".AppendTextActionActivity"/>
    <activity android:name=".CurrentItemMatcherActivity"/>
    <activity android:name=".HintTextColorMatcherActivity"/>
  </application>
</manifest>
